<div class="container">
  <h1>Make a Post</h1>



<form action="/post" method="post">
<input type="text" name="postTitle" placeholder = "Title">
<textarea rows="4" cols="50" name="postBody" placeholder = "Write something cool"></textarea>
<input type="submit" value="Submit">
</form>



</div>