<div class="container">
  <h1>Sign In Hacker</h1>



<form action="/signin" method="post">
<input type="text" name="name" placeholder = "First Name">
<input type="text" name="email" placeholder = "Email">
<input type="password" name="password" placeholder = "Password">
<input type="submit" value="Submit">
</form>



</div>